#upgrades{
    float: left;
    margin-top: 10px;
    
}

#passiveCounter{
    float: top;
    
}

.upgrade{
    float: left;
    margin-right: 10px;
    padding: 10px;
    background-color: lightgray;
}